@model IEnumerable<TrashCollector.Models.Billing>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
    int PickupsOwed = (int)ViewBag.pickupDaysOwed;
    DateTime? date = DateTime.Now;
}


<h2>Billing Statement</h2>

<table class="table">
    <tr>
        <th>
            Number of Pickups in @date.Value.ToString("MMMM")
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Charges)*@
            Remaining Balance Due
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @PickupsOwed
        </td>
        <td>
            $@(item.Charges* PickupsOwed)
            @*$@Html.DisplayFor(modelItem => item.Charges)*@
        </td>
    </tr>
    <tr>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id = item.ID }) |*@
            @Html.ActionLink("Details", "Details", new { id = item.ID })
            @*@Html.ActionLink("Delete", "Delete", new { id = item.ID })*@
        </td>
    </tr>
}

</table>
