@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<div class="jumbotron">
    @*<h1>Trash Collector</h1>*@
    <p class="lead">Welcome to Wall-E's Trash Collection Service.</p>
    
</div>
<div><p><img src="~/Images/Wall-E-waste.png" alt="Wall-E" /></p></div>
