@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_WorkerLayout.cshtml";
}

<div class="jumbotron">
    <h1>Trash Collector</h1>
    
</div>
@*<div><p><img src="~/Images/Wall-E-waste.png" alt="Wall-E" /></p></div>*@
